* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F1FCF0;
}
table {
	padding-top: 0px;
	padding-left: 50px;
	font-size: 20px;
}
td {
	padding-top: 10px;
	text-align: normal;
	border: 10px solid #F1FCF0;
}
.image {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 500px;
	border: 5px solid red;
	background-image: url(../root/v1.jpg);
	background-size: cover;
	background-position: center;
}
.description {
	width: 1400px;
	height: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border: 3px dotted black;
}